@font-face {
  font-family: 'PF Din Text Universal';
  src: local('PF Din Text Universal Medium'), local('PFDinTextUniversal-Medium'),
        url('PFDinTextUniversal-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Text Universal';
  src: local('PF Din Text Universal'), local('PFDinTextUniversal'),
        url('PFDinTextUniversal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Text Universal';
  src: local('PF Din Text Universal Bold'), local('PFDinTextUniversal-Bold'),
        url('PFDinTextUniversal-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
